# STATISTICS

### One Sample t Test

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd

pd.set_option('display.float_format', lambda x: '%.2f' % x)

Example - 1

Suppose that a beach is safe to swim if the mean...

In [2]:
xbar = 10.5
sigma = 1.5
n = 40
mu = 10

H0 : mu = 10
H1 : mu > 10

Test Statistic

In [3]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

In [4]:
p = 1- stats.norm.cdf(z)
p

0.017507490509831247

In [5]:
# stats.ttest_1samp(a, 10, alternative="greater")
# It returns test statistic and p value

In [6]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [7]:
df = sns.load_dataset("mpg")

In [8]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.00,8,307.00,130.00,3504,12.00,70,usa,chevrolet chevelle malibu
1,15.00,8,350.00,165.00,3693,11.50,70,usa,buick skylark 320
2,18.00,8,318.00,150.00,3436,11.00,70,usa,plymouth satellite
3,16.00,8,304.00,150.00,3433,12.00,70,usa,amc rebel sst
4,17.00,8,302.00,140.00,3449,10.50,70,usa,ford torino

In [9]:
df[df["origin"] == "usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.00,249.00,249.00,245.00,249.00,249.00,249.00
mean,20.08,6.25,245.90,119.05,3361.93,15.03,75.61
std,6.40,1.66,98.50,39.90,794.79,2.75,3.68
min,9.00,4.00,85.00,52.00,1800.00,8.00,70.00
25%,15.00,4.00,151.00,88.00,2720.00,13.00,73.00
50%,18.50,6.00,250.00,105.00,3365.00,15.00,76.00
75%,24.00,8.00,318.00,150.00,4054.00,16.90,79.00
max,39.00,8.00,455.00,230.00,5140.00,22.20,82.00

In [10]:
stats.ttest_1samp(df[df["origin"] == "usa"]["horsepower"].dropna(), 110) #, alternative="greater")
# This code checks that mean of usa cars horsepower equals to 110 or graeter than 110

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0004620071779080864)

In [11]:
stats.ttest_1samp(df[df["origin"] == "usa"]["mpg"].dropna(), 22) #, alternative="less")
# This code returns that mpg of usa cars mean equal to 22 or less than 22

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=3.891005205691281e-06)

In [12]:
stats.ttest_1samp(df[df["origin"] == "europe"]["horsepower"].dropna(), 100, alternative="greater")
# This code returns that europe car's horsepower mean is equal to 100 or bigger than 100

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=0.9999999999853763)